.cart-title {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.cart-item {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 20px;
}

.cart-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  flex: 1;
  margin-left: 20px;
}

.cart-item-descripcion {
  font-size: 0.9rem;
  color: #666;
  margin-left: 20px;
  flex: 2;
}

.cart-item-quantity {
  font-size: 1rem;
  font-weight: bold;
  color: #444;
}


.cart-item-price {
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  margin-left: 20px;
}


.cart-item-delete {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
 
}

.button-increase,
.button-decrease {
  background-color: #616161;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.empty-cart-icon{
  width: 200px;
}

.cart-empty-message {
  text-align: center;
  align-self: center;
  font-size: 2rem;
  margin-top: 50px;
}

.total-price {
  font-size: 1.8rem; 
  font-weight: bold; 
  color: #333; 
  text-align: right; 
  margin-top: 20px; 
  padding: 10px; 
  background-color: #f8f8f8; 
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}