.categories-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 1fr);  */
    gap: 50px; 
    padding: 20px;
    background-color: #f2f2f3; 
}

.category-card {
    display: flex;
    align-items: center; 
    gap: 50px; 
    padding: 20px;
    background: white;
    border: 1px solid #ddd; 
    border-radius: 10px; 
}


.category-card img {
    width: 80px; 
    height: 80px;
    object-fit: contain; 
    border-radius: 5px; 
}
