.footer{
    color: white;
    background-color: #474747d4;
    margin-top: auto;
    width: 100%;
    font-size: 1.5rem;

}

.footer-container{
    display: flex;
    justify-content:space-between;
    margin: 1rem;
}

.about-us{
    font-size: 1rem;
    cursor: pointer;
    
}