.nav {
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.454);
	padding: 0.5rem;
	a {
		text-decoration: none;
		color: #000000;
	}
}

.nav-left {
	display: flex;
	align-items: center;
}

.logo {
	width: 120px;
	margin-right: 1rem;
	cursor: pointer;
}

.brand-name {
	font-size: 1.5rem;
	font-weight: bold;
	color: #000000;
	margin: 0;
}

.brand-name:hover {
	cursor: pointer;
}

.nav-right .cart {
	width: 30px;
	cursor: pointer;
	margin-right: 3rem;
}

.categories {
	height: 3rem;
	background-color: #000000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.454);
	color: #ffffff;
}

.category-list {
	display: flex;
	justify-content: space-around;
	list-style: none;
	align-self: center;
	align-items: center;
	align-content: center;
	text-align: center;
	height: 100%;
}

.list:hover {
	background-color: #ffa006;
	border-radius: 5px;
	padding: 12px 12px;
	cursor: pointer;
}
